/.env
/.env.*
/storage
/vendor
/node_modules
/public/hot
/public/storage
*.log
.DS_Store
/.phpunit.cache
/.idea
/.vscode
*.pid
dump.sql
health_check.sh
racksephnox-queue.conf
racksephnox-schedule.conf
reason
status
tests_backup/
